*{
    box-sizing: border-box;
}

.title {
     font-size: 24px;
     text-align: center;
   
     margin-top: 70px;
     font-weight: bold;
     text-transform: uppercase;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.block-text {
    font-size:16px ;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    font-weight: bold; 
    
}
.block {
    
    text-align: center;
    margin-top: 85px;

}


 @media (max-width:567px) {
 .elem4 {
    color: red; 
    order: -1;
}
 }